@import "../common.css";

div.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.scrollable_container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#main_splitter div.k-splitbar-static-vertical,
#main_splitter div.k-splitbar-static-horizontal,
div.form_grid_splitter div.k-splitbar-static-vertical
{
    display: none;
}

div.container div.form_grid_splitter {
    border : 0;
}

div.container .forms {
    float: left;
}

div.container .forms li {
    margin-bottom: 5px;
    list-style: none;
}

div.container .forms li > * {
    width: 200px;
}