div.absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

div.fill{
    height: 100%;
    width: 100%;

}

#services li{
    padding: 0;
    margin: 0;
}
#services .k-item {
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
#services .k-panelbar{
    float: none;
}
#services .k-image{
    display: block;
}
#services span {
    height:100%;
    width: 100%;
    line-height: 20px;
}

#main_tabs { /* tabstrip element */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
}

#main_tabs div{
    height: 100%;
    width: 100%;
}
.k-tabstrip .k-content {
    position: absolute;
    top: 41px;
    bottom: 0;
    width: auto;
    height: auto;
}
