@import "common.css";

.fill{
    height: 100%;
    width: 100%;
}

#main1 .k-splitbar-static-vertical,
#main1 .k-splitbar-static-horizontal
{
    display: none;
}

#main1 .k-splitter,
#main1 .k-widget,
#main1 .k-panelbar{
    border-width: 0;
}

.list_item{
    float: left;
}
.list_item:hover{
    cursor: hand;
    background-color: lightgray;
}

.button,
.standart_thin_button,
.standart_button,
.double_width_button{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 );
    background-color: #85F27B;
    cursor: hand;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
}
.standart_thin_button{
    width: 140px;
    height: 20px;
}
.standart_button{
    width:  140px;
    height: 34px;
}
.double_width_button{
    width:  280px;
    height: 34px;
}
.center_content{
    text-align: center;
    vertical-align: middle;
}
.hiddenAttr{
    display:none;
}

#attrsForm label{
    display: inline-block;
    width: 200px;
    text-align: right;
    padding-right: 5px;
    color: #000;
}

#attrsForm span.k-widget,
#attrsForm .k-textbox{
    width: 300px;
}
#attrsForm .k-button{
    width:150px;
    height: 35px;
}