div.absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 99.6%;
}

#services li{
    padding: 0;
    margin: 0;
}
#services .k-item {
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
#services .k-panelbar{
    float: none;
}
#services .k-image{
    display: block;
}
#services span {
    height:100%;
    width: 100%;
    line-height: 20px;
}
#main_tabs div{
    height: 100%;
    width: 100%;
}
.k-tabstrip .k-content {
    position: absolute;
    top: 41px;
    bottom: 0;
    width: auto;
    height: auto;
}

.k-splitter .k-splitbar-static-vertical,
.k-splitter .k-splitbar-static-horizontal,
.k-splitter,
.k-panelbar{
    width: 0;
    border-width: 0;
    background: none;
    height:0;
}
